<!-- Author: Alex Lim -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CryptoPriceTracker Chatbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
            <br>
            <br>
            <center>
                <img src="../static/img/logo.jpg" alt="CryptoPriceTracker Logo" style="width:256px;height:256px;">
            </center>
                            
            <center>
                <h2><b><i style=\"color:#ff8000;\">{{ bot_name }}</i> bot is now up and running.</b></h2>
            </center>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            <h2 align="center";><u>Developer: Alex Lim</u></h2>
            <a href="https://www.linkedin.com/in/alexlim95/" target="_blank" class="fa fa-linkedin" style="font-size:36px"></a>
            <a href="https://github.com/alexlimofficial/cryptocurrency-chatbot" target="_blank" class="fa fa-github" style="font-size:36px" ></a>
            <a href="mailto:alexlim95@gmail.com?" class="fa fa-envelope" style="font-size:36px"></a>  
        </div>
    </body>
</html>
