<!-- Author: Alex Lim -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CryptoPriceTracker Chatbot</title>
    </head>
    <body>
        <center>
            <img src="../img/logo.jpg" alt="CryptoPriceTracker Logo" style="width:256px;height:256px;">
            <h2><b> {{ bot_name }} </b></h2>
        </center>
                        
        <center>
            <h2><b><i style=\"color:#ff8000;\">{{ bot_name }}</i> bot is now up and running.</b></h2>
        </center>
    </body>
</html>
